@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=VT323&display=swap');

body {
    font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
    background-image: url("./personajes/fondito.jpg");
  background-position: center;
  background-attachment: fixed;
}

#seleccionar-mascota {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titulo {
     color: white; 
    -webkit-text-stroke: 2px black; 
    font-size: 50px;
    font-weight: 800px;
}

.subtitulo { 
    color: white;
    font-size: 30px;
    -webkit-text-stroke: 1px black; 
    font-weight: 800px;
}

.tarjetas {
    display: flex;
    gap: 15px;
}

.tarjetas-ataques {
    display: flex;
    gap: 15px;
}

.tarjeta-de-pets {
    width:330px;
    height: 255px;
    background: #526fff;
    padding: 10 px;
    box-sizing: border-box;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("./personajes/tarjetita.jpg");
    background-position: center;
    background-size: cover; 
}

.tarjeta-de-pets img {
    width: 180px;
}

#boton-mascota {
    width: 180px;
    height: 40px;
    border-radius: 20px;
    background: transparent;
    border: 2px solid white;
    color: white;
    font-family: "Press Start 2P", system-ui;
    font-weight: 200;
    font-style: normal;
    margin-top: 30px;
}

input{
    display: none;
}

input:checked + label {
    width: 380px;
    height: 305px;
}

#seleccionar-ataque {
    flex-direction: column;
    align-items: center;
}

.boton-de-ataque {
    background-color: #526fff;
    padding: 10 px;
    box-sizing: border-box;
    border-radius: 10px;
    border-color: transparent;
    width: 100px;
    font-family: "Press Start 2P", system-ui;
    font-weight: 200;
    font-style: normal;
}

#mensajes {
    width: 400px;
    background: #679bfd;
    padding: 20px;
    margin-top: 20px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#boton-reiniciar {
    background: #2845D6;;
    border-radius: 20px;
    border: none;
    color: black;
    font-family: "Press Start 2P", system-ui;
    font-weight: 200;
    font-style: normal;
    height: 40px;
}

.ataques {
    display: grid;
    grid-template-columns: 100px 100px;
    gap: 90px; 
    place-items: center;
}

#vidas-jugador, #vidas-enemigo {
    font-size: 32px;
    margin-bottom: 0;
}

.ataques-jugador, .ataques-enemigo {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #526fff;
    padding: 10 px;
    box-sizing: border-box;
    border-radius: 10px;
    margin-top: 20px;
    width:150px;
}

@media (max-width: 360px) {
    .tarjetas, .tarjetas-ataques {
        flex-direction: column
    }
}